
/* Адаптив для 1440px - 1920px */

@media (max-width: 1920px) {
    
}



/* Адаптив для 1200px - 1440px */

@media (max-width: 1440px) {
        .container {
            padding: 0 50px;
            margin: 0 auto;
        }


/* Header-----------------------------------------------*/

        .header__container {
            margin-bottom: 40px;
        }


        .h2 {
            margin-bottom: 22px;
        }
    
        .questions__h2 {
            margin-bottom: 0;
        }
    
        .header__logo-div {
            display: flex;
            margin: 0 auto;
    
        }
    
        .header__logo {
            width: 100%;
            height: 60px;
        }
    
        .burger {
            /* для позиционирования палочек в бургере absolute,
            делаем у родителя position relative */
            position: absolute;
            display: block;
            width: 32px;
            height: 30px;
        }
    
        .burger__line {
            position: absolute;
            left: 50%;
            width: 30px;
            height: 3px;
            border-radius: inherit;
            background-color: #000000;
            transform: translateX(-50%);
        }
    
        .burger__line:nth-child(1) {
            top: 4px;
        }
    
        .burger__line:nth-child(2) {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    
        .burger__line:nth-child(3) {
            bottom: 2px;
        }
    
        .header__nav {
            display: none;
        }
    
        .header__btn-search {
            right: 50px;
        }


/* Projects --------------------------------------------*/

        .projects-container {
            margin-bottom: 101px;
            }

        .projects-container {
            flex-wrap: wrap;
            --offsets: 0;
            gap: 32px;
            margin-bottom: 82px;
        }

        .projects__item {
            padding: 65px 150px 65px 316px;
            background-position: 77px center;
        }

        .projects__btn {
            bottom: 67px;
        }

        .projects__content-left {
            height: 850px;
            background-image: url(../img/Rectangle_1024.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }


/* Footer ----------------------------------------------*/       

        .footer__list {
        padding: 50px 0;
        }

        .footer__item-right {
            display: none;
        }


}


/* Адаптив для 1024px - 1200px */

@media (max-width: 1200px) {

}



/* Адаптив для 992px - 1024px */

@media (max-width: 1024px) {

}



/* Адаптив для 768px - 992px */

@media (max-width: 992px) {
    
}



/* Адаптив для 576px - 768px */

@media (max-width: 768px) {
    
}



/* Адаптив для 320px - 576px */

@media (max-width: 576px) {
    
}
