
/* Адаптив для 1440px - 1920px */

@media (max-width: 1920px) {
    
}



/* Адаптив для 1200px - 1440px */

@media (max-width: 1440px) {
        .container {
            padding: 0 50px;
            margin: 0 auto;
        }


/* Header-----------------------------------------------*/

        .header__container {
            margin-bottom: 40px;
        }


        .h2 {
            margin-bottom: 22px;
        }
    
        .questions__h2 {
            margin-bottom: 0;
        }
    
        .header__logo-div {
            display: flex;
            margin: 0 auto;
    
        }
    
        .header__logo {
            width: 100%;
            height: 60px;
        }
    
        .burger {
            /* для позиционирования палочек в бургере absolute,
            делаем у родителя position relative */
            position: absolute;
            display: block;
            width: 32px;
            height: 30px;
        }
    
        .burger__line {
            position: absolute;
            left: 50%;
            width: 30px;
            height: 3px;
            border-radius: inherit;
            background-color: #000000;
            transform: translateX(-50%);
        }
    
        .burger__line:nth-child(1) {
            top: 4px;
        }
    
        .burger__line:nth-child(2) {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    
        .burger__line:nth-child(3) {
            bottom: 2px;
        }
    
        .header__nav {
            display: none;
        }
    
        .header__btn-search {
            right: 50px;
        }


/* Projects --------------------------------------------*/

        .projects-container {
            margin-bottom: 101px;
            }

        .projects-container {
            flex-wrap: wrap;
            --offsets: 0;
            gap: 32px;
            margin-bottom: 82px;
        }

        .projects__item {
            padding: 65px 150px 65px 316px;
            background-position: 77px center;
        }

        .projects__btn {
            bottom: 67px;
        }

        .projects__content-left {
            height: 850px;
            background-image: url(../img/Rectangle_1024.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }


/* Footer ----------------------------------------------*/       

        .footer__list {
        padding: 50px 0;
        }

        .footer__item-right {
            display: none;
        }


}


/* Адаптив для 1024px - 1200px */

@media (max-width: 1200px) {

    .header__logo {
        height: 49px;
        padding-left: 7px;
    }

    .hero__content {
        height: 670px;
        background-image: url(../img/balconies-1024.png);
        margin-bottom: 35px;
        padding-top: 161px;
        padding-left: 77px;
    }

    .hero__title {
        margin-bottom: 16px;
        font-size: 60px;
        line-height: 73px;
    }
    
    .hero__descr {
        max-width: 700px;
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 24px;
    }

    .about-us__content {
        margin-bottom: 59px;
    }

    .about-us__h2 {
        margin-bottom: 20px;
    }

    .about-us__descr {
        width: 100%;
    }

    .projects__content-left {
        height: 640px;
    }

    .projects__text-left {
        max-width: 59%;
    }

    .projects__item {
        padding-bottom: 62px;
    }

    .stages__content {
        margin-bottom: 81px;
    }

    .stages__h2 {
        margin-bottom: 49px;
    }

    .stages__descr-bottom {
        margin-bottom: 24px;
    }

    .nav__list-stages {
        margin-bottom: 50px;
    }

    .stages__div-block {
        width: 49%;
    }

    .stages__div-left {
        padding-right: 0;
    }

    .stages__div-img {
        padding-top: 12px;
        padding-left: 16px;
    }

    .questions__content {
        margin-bottom: 111px;
    }

    .questions-h3 {
        font-size: 20px;
    line-height: 32px;
    }

    .footer__item-center {
        width: 663px;
    }

    .footer__btn {
        width: 240px;
        padding: 19px 25px;
    }

    .footer__social-div {
        left: 43px;
    }
}



/* Адаптив для 992px - 1024px */

@media (max-width: 1024px) {

}



/* Адаптив для 768px - 992px */

@media (max-width: 992px) {
    .header__container {
        height: 83px;
        padding-top: 15px;
    }

    .hero__block {
        width: 585px;
    }

    .hero__content {
        height: 662px;
        margin-bottom: 36px;
        padding-left: 41px;
        border-radius: 24px;
    }

    .hero__title {
        font-size: 50px;
        line-height: 61px;
    }

    .hero__descr {
        font-size: 18px;
        line-height: 22px;
    }

    .about-us__content {
        margin-bottom: 53px;
    }

    .about-us__descr {
        display: none;
    }

    .about-us__descr-768 {
        display: flex;
        width: 100%;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .projects__content-left {
        height: 651px;
        border-radius: 24px;
    }

    .background-bottom {
        height: 195px;
        border-radius: 24px;
        padding-top: 34px;
        padding-left: 42px;
    }

    .projects__btn {
        right: 38px;
    }

    .projects__text-left {
        max-width: 66%;
    }

    .projects__item {
        min-height: 235px;
        padding: 34px 23px 18px 170px;
        border-radius: 24px;
        background-size: 112px;
        background-position: 41px center;
    }

    .nav__list-stages {
        margin-right: -7px;
        margin-bottom: 48px;
    }

    .nav__item-stages:not(:last-child) {
        margin-right: 146px;
    }

    .stages__content {
        margin-bottom: 50px;
    }

    .stages__div-block {
        width: 100%;
    }

    .stages__div-img {
        height: 285px;
        margin-bottom: 39px;
        padding: 0;
    }

    .stages__img {
        height: 100%;
        width: 100%;
        border-radius: 24px;
        object-fit: cover;
    }

    .stages__div-left {
        width: 100%;
        padding-right: 0;
    }

    .stages__descr-div {
        display: flex;
        flex-direction: column-reverse;
    }

    .stages__descr {
        letter-spacing: -0.3px;
    }

    .footer__container {
        height: 792px;
    }

    .footer__item-left {
        display: none;
    }

    .footer__item-center {
        width: 541px;
    }

    .footer__logo {
        position: absolute;
        top: 593px;
    }
}



/* Адаптив для 576px - 768px */

@media (max-width: 768px) {
    .hero__content {
        padding-left: 36px;
        padding-right: 36px;
        text-align: center;
    }

    .hero__block {
        width: 100%;
    }

    .hero__title {
        font-size: 34px;
        line-height: 44px
    }

    .hero__descr {
        font-size: 17px;
        line-height: 22px;
    }

    .nav__list-stages {
        justify-content: space-between;
    }

    .nav__item-stages:not(:last-child) {
        margin: 0;
        
    }
    
}



/* Адаптив для 320px - 576px */

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .header__container {
        height: 69px;
        margin-bottom: 30px;
        border-radius: 0px 0px 16px 16px;
    }

    .burger {
        top: 19px;
        left: 13px;
    }

    .header__logo-div {
        min-width: 10px;
        width: auto;    
        margin: 0 auto;
}

    .header__logo {
        height: 35px;
        padding-left: 4px;
    }
    
    .header__btn-search {
        right: 16px;
    }

    .hero__content {
        background-image: url(../img/balconies_320.png);
        height: 307px;
        margin-bottom: 61px;
        padding-top: 60px;
        padding-left: 23px;
        padding-right: 23px;
        border-radius: 16px;
    }

    .hero__title {
        margin-bottom: 7px;
        font-size: 20px;
        line-height: 24px;
    }

    .hero__descr {
        margin-bottom: 33px;
        font-size: 12px;
        line-height: 15px;
    }

    .hero__btn {
        width: 163px;
        padding: 13px 28px;
        border-radius: 8px;
        font-size: 12px;
        line-height: 15px;
    }

    .about-us__h2 {
        font-size: 24px;
        line-height: 29px;
    }
}
